<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.2.7900.0" authCookieName=".SFAUTH-ProLearnSSO" rolesCookieName=".SFROLES-ProLearnSSO" validationKey="395FE9F1F2E2E57D86452550FB8E00FA54D56CDBA1CA9C2E87970EA82163B306D37B304E662AFE7C8B5F4D94741CF6D98FFCEC7F6E2660A91B54E64DB9FCD3EC" decryptionKey="83E87FE5B4658AD76B9A2957F2BF35FAA012889ADBC1C58AF2503D9C5C1F618F" loggingCookieName=".SFLOG-ProLearnSSO">
	<securityTokenIssuers>
		<add key="35746B912EFC55522C73A356C1A3CD98E8CEC8CDDA5903ED65E200B74005485D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="35746B912EFC55522C73A356C1A3CD98E8CEC8CDDA5903ED65E200B74005485D" realm="http://localhost" />
	</relyingParties>
</securityConfig>